html{
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif; 
}
li{
  list-style: none
}
a{
  text-decoration: none;
  color: #fafafa;
}

body{
  background: #fafafa;
  display:flex;
  justify-content: center;
}

/*Contenedor*/
.flex-container{
  justify-content:center;
  align-items:center;
  max-width: 1200px;;
  width: 100%;
  background: #fafafa
  
}

/*Deslizador automático*/
.slider{
  width: 95%;
  overflow: hidden;
  margin: auto;
  max-height: 600px;
}

.slider ul{
  display: flex;
  padding: 0;
  width: 400%;
  max-height: 60em;
  animation: x 20s alternate linear infinite;
  -moz-animation : x 20s infinte alternate linear infinite;
  -webkit-animation: x 20s alternate linear infinite;
  -o-animation: x 20s alternate linear infinite;
}

.slider__item{
  width: 100%;
  max-height: 60em;
}

.slider__image{
  width: 100%; 
  max-height: 60em;
}

@keyframes x {

  0% {margin-left: 0;}
  20%{margin-left: 0;}

  25%{margin-left: -100%;}
  45%{margin-left: -100%;}

  50%{margin-left: -200%;}
  70%{margin-left: -200%;}

  75%{margin-left: -300%;}
  100%{margin-left: -300%;}
  
}
/*Aqui habia un lindo slideshow que firefox bloqueó
.xlide{
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  
}

.xlide__img{
  width: 100%;
  height: 100%;
}

.slidesjs-pagination{
  display: flex;
  justify-content:flex-start;
  background:  #212121;
  list-style: none;
  overflow: hidden;
  
}

.slidesjs-pagination  li a{
  flex-direction: row;
  display:block;
  padding: 10px 20px;
  color : #fafafa;
  text-decoration: none;
  font-size: 2rem;
  font-family: Lato;
}

.slidesjs-pagination li a:hover{
  background: #424242;
}



.xlide__img , .active{
  background: #263238;
}

.slidesjs-navigation{
  background:#212121;
  text-decoration: none;
  padding: 1.75em 2em ;
  float: right;
  margin-top: 1em;
  
}

.slidesjs-previous:hover , 
 .slidesjs-next:hover , 
.slidesjs-play:hover , 
.slidesjs-stop:hover {

  background:#263238;
}

.slidesjs-stop , .active{
  background: #263238;
}

*/

/*Mensaje*/


.content__subcont , .recipe__subcont{
  display: flex;
  justify-content: center;
  background-color: #fafafa;

}

.content__title{
  margin-top: em;
  font-family: Lato;
  font-size: 3rem;
  padding: 1em 0;
  color: #fafafa;
  background-color: #212121;
  text-align: center;
  text-transform: uppercase;
  width: 50%;
}

.content__subcont2{
  display: flex;
  justify-content: center;
}

.content__img{
  width: 90%;
  height: 90%;
}

.content__paragraph{
  color: #212121;
  font-weight: 30rem;
  font-family: Lato;
  Font-size: 1.8em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2em;
}






/*Imagen donde va un boton*/
.content__new {
  display:flex;
  width:100%;
  background: #fafafa;
  
}

.new__photo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: relative;
  
}

.new__img{ 
  width: 100%;
  height: 100%
}

.new__recomendation {
  width: 90%;
  font-family: Lato;
  font-size: 5rem;
  text-align: center;
  text-transform: uppercase;
  background: #212121;
  color: #fafafa;
  /*margin: 4em;*/
  position: absolute;
  top: 20%;
}

.new__request{
  align-self: center;
  font-family: Lato;
  font-size: 3rem;
  font-weight: 10em;
  text-align: center;
  text-transform: uppercase;
  color: #212121;
  background: #fafafa;
  border-style: solid;
  width: 30%;
  padding: 0.2em 2em;
  position: absolute;
  top: 60%;
    
}

.new__request:hover{
  cursor: pointer;
  color: #fafafa;
  background: #212121;
  border-color: #212121;

}

.cont p{
  
  color: #212121;
  font-weight: 30rem;
  font-family: Lato;
  Font-size: 1.8em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  width: 100%;
}


/*Contenedor de cabecera*/
.header{
  background-color: #212121;
  box-shadow: 0 0.4rem 0.5rem #37474f;
  width: 100%;
  max-width: 1200px;
}



/*Barra de navegación*/
.navbar{
  
  display: flex;
  justify-content: space-between;
  padding: 1px;
  max-width: 1200px;
  margin: 0 auto;
  flex: 0 1 auto;
}

.navbar__logo {
  display: flex;
  align-items: center;
  margin-left: 10px;

}

.navbar__photo{
  margin-left: 5px;
  border-radius: 50%;
}



.navbar__tittle{
  font-weight: 50rem;
  font-size: 1.8rem;
  color: #fafafa;
  margin-left: 10px;
  font-style: bold;

}

/*Elelementos de la barra : Inicio , sobre nosostros ...*/
.navbar__menu{
  display: flex;
  margin-top: 2em ;
  padding: 0;
}

.navbar__item{
  padding: 0 1.5em;
}

.navbar__link{
  line-height: 5rem;
  color: #fafafa;
  font-size: 2.5rem;
  font-weight: 90rem;
  text-transform:uppercase;
  text-decoration: none;
}

.navbar__item:hover , 
.icons a:hover,
.fnav a:hover{
  background-color: #424242;
}


/*Footer*/

.footer{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  background: #212121;
  flex-wrap: wrap;
  height: 10%;

}

.footer__link{
  font-family:Lato;
  font-weight: 8rem;
  font-size:2.5rem;
  padding: 0.4em;
  text-transform: uppercase;
  color: #fafafa;
}

.footer__other{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.footer__other a{
  flex-direction:row;
  font-size: 1em;;

}

.footer__icons{
  margin-top: 2em;
}

.footer__link:hover{
  background-color: #424242;

}

/*Responsive*/

@media (max-width: 890px) {
  body {
    font-size: 62.5%;
  }

  .navbar{
    flex-direction:column;
    align-items: center;
  }


  .navbar__tittle , .content__title{
    font-size: 2.5em;
    margin-top: 1em;
  }

  .content__paragraph{
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 1em;
  }

  .new__recommendation{
    font-size:4em;
  }

  .new__request{
    font-size: 4em;
  }

  .footer__icons{
    margin-top: 15px;
  }

}

@media (max-width: 680px) {
  .new__recomendation{
    font-size:6em;
  }

}

@media (max-width: 640px) {
  .footer__link{
    font-size: 3em;
  }

}

@media (max-width: 585px) {
  body {
    font-size: 50%;
  }
  
  .navbar__tittle{
    font-size: 3em;
    margin: 0;
    margin-left: .5em;
    
  }

  .navbar__menu{
    flex-direction: column;
  }

  .new__recomendation{
    font-size: 5em;
  }

  .new__request{
    font-size: 4em;
  }

  .content__paragraph{
    font-size: 1.5em;
  }
  
}


 @media (max-width: 470px){
   .menu{
     display: flex;
     flex-direction: column;
   }
 }

 @media (max-width: 425px){
   .new__recomendation{
     font-size:3.5em;
   }
   .new__request{
     top: 50%;
     font-size:2em;
   }

   .footer__link{
     font-size:2em;
   }
 }


