html{
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  
}

a{
  text-decoration: none;
  color: #fafafa;
}

body{
  background: #fafafa;
  display:flex;
  justify-content: center;
}

/*Contenedor*/
.flex-container{
  max-width: 1200px;;
  width: 100%;
  background: #fafafa
  
}
/*Contenedor de cabecera*/
.xheader{
  background-color: #212121;
  box-shadow: 0 0.4rem 0.5rem #37474f;
  width: 100%;
}

.xnav-photo{
  margin-left: 5px;
}

/*Barra de navegación*/
.xnav{
  
  display: flex;
  justify-content: space-between;
  padding: 1px;
  max-width: 1200px;
  margin: 0 auto;
  flex: 0 1 auto;
}

.xnav-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-left: 10px;

}

.xnav-logo img{
  border-radius: 50%;
}

.xnav-titulo{
  font-weight: 50rem;
  font-size: 1.8rem;
  color: #fafafa;
  margin-left: 10px;
  font-style: italic;

}

/*Elelementos de la barra : Inicio , sobre nosostros ...*/
.menu{
  display: flex;
  list-style: none;
  margin-top: 2em ;
  padding: 0;
}

.menu li{
  padding: 0 1.5em;
}

.menu li:hover , 
.icons a:hover,
.fnav a:hover{
  background-color: #424242;
}

.menu li a{
  line-height: 5rem;
  color: #fafafa;
  font-size: 2.5rem;
  font-weight: 90rem;
  text-transform:uppercase;
  text-decoration: none;
}



/*SlideShow*/
.xlide{
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  
}

.xlide__img{
  width: 100%;
  height: 100%;
}

.slidesjs-pagination{
  display: flex;
  justify-content:flex-start;
  background:  #212121;
  list-style: none;
  overflow: hidden;
  
}

.slidesjs-pagination  li a{
  flex-direction: row;
  display:block;
  padding: 10px 20px;
  color : #fafafa;
  text-decoration: none;
  font-size: 2rem;
  font-family: Lato;
}

.slidesjs-pagination li a:hover{
  background: #424242;
}



.xlide__img , .active{
  background: #263238;
}

.slidesjs-navigation{
  background:#212121;
  text-decoration: none;
  padding: 1.75em 2em ;
  float: right;
  margin-top: 1em;
  
}

.slidesjs-previous:hover , 
 .slidesjs-next:hover , 
.slidesjs-play:hover , 
.slidesjs-stop:hover {

  background:#263238;
}

.slidesjs-stop , .active{
  background: #263238;
}

/*Mensaje*/


.xtittle , .x{
  display: flex;
  justify-content: center;
  background-color: #fafafa;

}

.pizza{
  display: flex;
  justify-content: center;
}

.pizza img{
  width: 90%;
  height: 90%;
}

.contenido p {
  color: #212121;
  font-weight: 30rem;
  font-family: Lato;
  Font-size: 1.8em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 6em;
}

.otro p , .cont p {
  color: #212121;
  font-weight: 30rem;
  font-family: Lato;
  Font-size: 1.8em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 6em;
}

.xtittle h2 {
  margin-top: 4em;
  font-family: Lato;
  font-size: 3rem;
  padding: 1em 0;
  color: #fafafa;
  background-color: #212121;
  text-align: center;
  text-transform: uppercase;
  width: 50%;
}

.otro h2 {
  margin-top: 1em;
  font-family: Lato;
  font-size: 3rem;
  padding: 1em 0;
  color: #fafafa;
  background-color: #212121;
  text-align: center;
  text-transform: uppercase;
  width: 50%;
}

/*Imagen donde va un boton*/
.cont {
  width:90%;
  background: #fafafa;
  
}

.pho {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: relative;
  
}

.pho-i{
  
  width: 100%;
  height: 100%
}

.af{
  
  width: 90%;
  font-family: Lato;
  font-size: 5rem;
  text-align: center;
  text-transform: uppercase;
  background: #212121;
  color: #fafafa;
  /*margin: 4em;*/
  
  position: absolute;
  
  
  top: 20%;

  /*margin-top: 60px;
  transform: translate(-50%, -50%);
  
  left: 27%;
  margin-left: 60;*/
}

.pedir{
 
  align-self: center;
  font-family: Lato;
  font-size: 4rem;
  font-weight: 10em;
  text-align: center;
  text-transform: uppercase;
  color: #212121;
  background: #fafafa;
  border-style: solid;
  width: 30%;
  padding: 0 2em;

  position: absolute;
  top: 60%;
   /* 
    left: 55%;
    transform: translate(-50%, -50%);*/

      
}

.cont p{
  color: #212121;
  font-weight: 30rem;
  font-family: Lato;
  Font-size: 1.8em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  width: 100%;
}




/*Footer*/

.footer{
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  
  background: #212121;
  flex-wrap: wrap;
  height: 6%;

}

footer a{
  font-family:Lato;
  font-weight: 8rem;
  font-size:3rem;
  padding: 0.4em;
  text-transform: uppercase;
}

.other{
  display: flex;
  justify-content: center;
  margin: 10px;
}

.other a{
  flex-direction:row;
  font-size: 1em;;

}

.fnav{
  margin:30px;
  padding: 1em
  
  
}

.icons{
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/*Responsive*/

@media (max-width: 850px) {
  body {
    font-size: 62.5%;
  }

  .xnav{
    flex-direction:column;
    
    align-items: center;
  }


  .xtittle h2 , .x h2{
    font-size: 2.5em;
    margin-top: 1em;
  }

  .contenido p , .otro p , .cont p{
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 1em;
  }

  .af{
    font-size:6em;
  }

  .pedir{
    font-size: 4em;
  }

  .fnav a {
    font-size: 2em;
  }

  .other a{
    font-size: 1.3em;
  }
  
  .footer {
    height:8%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
  }

  .fnav{
    margin-top: 4em;
    margin-left: 2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;

  }

  .icons{
    padding: 0;
    margin : 0;
    margin-top: 1em;
    margin-right: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .other{
    margin-top: 10px;
    margin-left: 0;
    align-self: start;
    
    
  }









@media (max-width: 578px) {
  body {
    font-size: 50%;
  }

  .xnav-titulo h1{
    font-size: 2em;
  }

  .menu li a {
    font-size: 4em;
   
  }

  .footer .fnav .icons .other{
    flex-direction:column;
  }

  .fnav{
    margin-top: 40px;
  }
  .icons  {
    display: none;
  }
  
}


}

